html,
body {
  line-height: 1.6;
  font-size: 16pt;
}

.Hyperlink {
  text-decoration: none;
}

.App {
  min-width: 300px;
}

.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.Landing>.Greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing>.Greeting>.Me {
  border-radius: 50%;
  width: 300px;
  max-width: 85%;
}

.Landing>.Greeting>.Name {
  text-align: center;
  max-width: 85%;
}

.Contact {
  height: 50px;
  width: 50px;
  margin: 0px 10px 0px 10px;
}

.Intro {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Intro>.About {
  text-align: center;
  max-width: 85%;
}

.Experiences {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1199px) {
  .Experiences>.Experience {
    max-width: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Experiences>.Experience>.ExpLogo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .Experiences>.Experience {
    max-width: 85%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px 20px 0px;
  }

  .Experiences>.Experience>.ExpLogo {
    display: flex;
    align-items: center;
    /*Vertical Alignment*/
    margin-right: 40px;
  }
}

.Experiences>.Experience>.ExpLogo>.LogoWrapper {
  display: flex;
  justify-content: center;
  /*Horizontal Alignment*/
}

.Experiences>.Experience>.ExpLogo>.LogoWrapper>.Logo {
  border-radius: 20%;
  width: 300px;
}

.Experience>.ExpDescription {
  max-width: 1000px;
}

.Experience>.ExpDescription>.Role {
  color: #5e9516;
  font-size: 20pt;
}

.Experience>.ExpDescription>.Company {
  font-size: 18pt;
}

.Schools {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  padding: 40px 0px 40px 0px;
  width: 100%;
}

.School {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 20px 0px 20px 0px;
}

.School>.Left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.School>.Left>.Logo {
  width: 300px;
  border-radius: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
}

.School>.Right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.School>.Right>.Coursework {
  display:flex;
  flex-direction:column;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}

.Skills {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
}

.Skill {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.Skill>.Type {
  font-size: 20pt;
  color: #5e9516;
  width: 50%;
  min-width: 300px;
  text-align: center;
}

.Skill>.List {
  padding-left: 0px;
  list-style: none;
  text-align: center;
}